@import url("../../../../../node_modules/@fortawesome/fontawesome-free/less/solid.less");
@import url("../../../../../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less");

/* App theme */
/* Color palette */
@soft-peach:  #F0F3EF;
@green-smoke: #A6A274;
@raw-sienna:  #CA6C56;
@ship-cove:   #7F93C1;
@jacarta:     #342071;

/* Transparent color palette */
@soft-peach-transparent:  rgba(240, 243, 239, 0.7);
@green-smoke-transparent: rgba(166, 162, 116, 0.7);
@raw-sienna-transparent:  rgba(202, 107, 86, 0.7);
@ship-cove-transparent:   rgba(127, 147, 193, 0.7);
@jacarta-transparent:     rgba(52, 32, 113, 0.7);

/* Offcanvas styles */
/************************************/
.uk-offcanvas-bar {
    background: @soft-peach;
}

.uk-offcanvas-bar .uk-nav li a {
    color: @jacarta;
}

.uk-offcanvas-close {
    color: @jacarta;
}

.uk-divider-small::after {
    border-color: @jacarta;
}

.uk-offcanvas-bar .uk-nav hr {
    border-color: @jacarta;
}
/***********************************/
/* END Offcanvas style */


/* Navbar syle for both navbars */
/**************************************/
.uk-navbar-container {
    background-color: @soft-peach-transparent;
    backdrop-filter: blur(5px);
}

.uk-navbar-nav li a {
    color: @jacarta;
}

#signup-link {
    color: @soft-peach;
    background-color: @raw-sienna;
}

#login-link {    
    color: @soft-peach;
    background-color: @ship-cove;
}
/**************************************/
/* END Navbar style for both navbars */


/* Style for desktop navbar */
.uk-navbar-dropdown {
    background-color: @soft-peach-transparent;
    backdrop-filter: blur(10px);
}
/* END style for desktop navbar */

/* Style for login and signup modals */
#login-modal .uk-modal-header {
    background-color: @ship-cove;
    text-align: center;
}

#login-modal .uk-modal-header h3 {
    color: @soft-peach;
}

#login-modal .uk-modal-close-default {
    color: @soft-peach;
}

#login-send {
    background-color: @ship-cove;
    color: @soft-peach;
}

#goto-signup {
    background-color: @raw-sienna;
    color: @soft-peach;
}

#signup-modal .uk-modal-header {
    background-color: @raw-sienna;
    text-align: center;
}

#signup-modal .uk-modal-header h3 {
    color: @soft-peach;
}

#signup-modal .uk-modal-close-default {
    color: @soft-peach;
}

#signup-send {
    background-color: @raw-sienna;
    color: @soft-peach;
}

#goto-login {
    background-color: @ship-cove;
    color: @soft-peach;
}

@media only screen and (max-width: 400px) {
    .uk-modal-footer {
        display: flex;
        flex-direction: column;
    }

    .uk-modal-footer button {
        width: 100%;
        border-radius: 0;
        margin-bottom: 3px;
    }
}

/* END style for login and signup modals */