<div class="uk-visible@l" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav uk-navbar class="uk-navbar-container">

    <div class="uk-navbar-center">

      <!--The left part of the centered navbar-->
      <div class="uk-navbar-center-left">
        <ul class="uk-navbar-nav">
          <li>
            <a routerLink="features">Features</a>
          </li>
          <li>
            <a [routerLink]="['/']">Announcements</a>
          </li>
        </ul>
      </div>

      <!--Logo in the middle with a link to home-->
      <a routerLink="/" class="uk-navbar-item uk-logo"><img
          src="../../../../assets/Branding/Instrumentality-Logo-SVG.svg" width="50" alt="Instrumentality"></a>

      <!--The left side of the centered navbar-->
      <div class="uk-navbar-center-right">
        <ul class="uk-navbar-nav">

          <li class="uk-parent">
            <a routerLink="pricing">Pricing Plans</a>
          </li>

          <li>
            <a [routerLink]="['/']">For Developers</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <button id="login-link" class="uk-button uk-margin-small-right uk-border-pill" uk-toggle="target: #login-modal">Login</button>
        <button id="signup-link" class="uk-margin-small-right uk-button uk-border-pill" uk-toggle="target: #signup-modal">Signup</button>
      </div>
    </div>

  </nav>
</div>

<!--------------------------------------------------------------->
<!-- This navbar is only visible on device smaller than 1200px -->
<!--------------------------------------------------------------->
<div class="uk-hidden@l" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav uk-navbar class="uk-navbar-container" id="mobile-navbar">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li><a class="uk-navbar-toggle" uk-toggle href="#off-canvas-navbar"><i class="fas fa-bars fa-lg"></i></a></li>
      </ul>
    </div>

    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
        <li>
          <a id="mobile-brand" [routerLink]="['/']">
            <img src="../../../../assets/Branding/Instrumentality-Logo-SVG.svg" width="50">
            Instrumentality
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!--The off-canvas component-->
  <div id="off-canvas-navbar" uk-offcanvas>
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
        <li>
          <a routerLink="/" id="active">Home</a>
        </li>
        <li>
          <a routerLink="/features">Features</a>
        </li>
        <li>
          <a [routerLink]="['/']">Announcements</a>
        </li>
        <li>
          <a routerLink="pricing">Pricing Plans</a>
        </li>
        <li>
          <a [routerLink]="['/']">For Developers</a>
        </li>
        <hr>
        <li>
          <button id="login-link" class="uk-button uk-margin-small-right uk-border-pill uk-width-1-1@s" uk-toggle="target: #login-modal">Login</button>
          <br>
          <hr class="uk-divider-small">
          <button id="signup-link" class="uk-margin-small-right uk-button uk-border-pill uk-width-1-1@s" uk-toggle="target: #signup-modal">Signup</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modals with embeded forms for log-in and sign-up -->

<!-- Login modal -->
<div id="login-modal" uk-modal>
  <div class="uk-modal-dialog uk-width-1-2@l">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h3>Welcome back!</h3>
    </div>

    <div class="uk-modal-body">
      <form action="" class="uk-form-stacked">

        <div class="uk-margin">
          <label class="uk-form-label" for="login-email">Email</label>
          <div class="uk-form-controls">
            <input type="email" class="uk-input" id="login-email" placeholder="Your email here..." >
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="login-password">Password</label>
          <div class="uk-form-controls">
            <input type="password" class="uk-input" id="login-password" placeholder="Type your password here..." >
          </div>
        </div>
        
      </form>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button id="goto-signup" class="uk-button uk-border-pill uk-margin-right" type="button" uk-toggle="target: #signup-modal">Create an account</button>
      <button id="login-send" class="uk-button uk-border-pill">Login</button>
    </div>
  </div>
</div>

<!-- Signup modal -->
<div id="signup-modal" uk-modal>
  <div class="uk-modal-dialog uk-width-1-2@l">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h3>Welcome, let's get to know eachother</h3>
    </div>

    <div class="uk-modal-body">
      <form action="" class="uk-form-stacked">

        <div class="uk-margin">
          <label class="uk-form-label" for="signup-email">Email</label>
          <div class="uk-form-controls">
            <input type="email" class="uk-input" id="signup-email" placeholder="Your email here..." >
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="signup-password">Password</label>
          <div class="uk-form-controls">
            <input type="password" class="uk-input" id="signup-password" placeholder="Type your password here..." >
          </div>
        </div>
        
      </form>
    </div>

    <div class="uk-modal-footer uk-text-right">
      <button id="goto-login" class="uk-button uk-border-pill uk-margin-right" type="button" uk-toggle="target: #login-modal">I already have an account</button>
      <button id="signup-send" class="uk-button uk-border-pill">Sign me up</button>
    </div>
  </div>
</div>