@import url("../../../../../node_modules/@fortawesome/fontawesome-free/less/brands.less");
@import url("../../../../../node_modules/@fortawesome/fontawesome-free/less/solid.less");
@import url("../../../../../node_modules/@fortawesome/fontawesome-free/less/fontawesome.less");

/* App theme */
/* Color palette */
@soft-peach:  #F0F3EF;
@green-smoke: #A6A274;
@raw-sienna:  #CA6C56;
@ship-cove:   #7F93C1;
@jacarta:     #342071;

/* Transparent color palette */
@soft-peach-transparent:  rgba(240, 243, 239, 0.7);
@green-smoke-transparent: rgba(166, 162, 116, 0.7);
@raw-sienna-transparent:  rgba(202, 107, 86, 0.7);
@ship-cove-transparent:   rgba(127, 147, 193, 0.7);
@jacarta-transparent:     rgba(52, 32, 113, 0.7);

.uk-section {
    background-color: @jacarta-transparent;
}

h3, h4, li {
    color: @soft-peach;
}

span{
    font-weight: normal;
}

i {
    color: @soft-peach;
    margin-left: 1vw;
}