<div class="uk-section uk-section-xsmall">
    <div class="uk-flex uk-flex-column">
        <h3 class="uk-flex uk-flex-center">Made possible by :</h3>
        <div class="uk-flex uk-flex-rox uk-flex-center">
            <i class="fab fa-angular fa-lg"><span> Angular</span></i>
            <i class="fab fa-laravel fa-lg"><span> Laravel</span></i>
            <i class="fab fa-uikit fa-lg"><span> UIkit</span></i>
            <i class="fas fa-database fa-lg"><span> PostgreSQL</span></i>
        </div>
        <h4 class="uk-flex uk-flex-center">Special thanks to:</h4>
        <div class="uk-flex uk-flex-row uk-flex-center">
            <ul>
                <li>Undraw (illustrations)</li>
            </ul>
        </div>
    </div>
</div>