<div class="uk-grid-collapse uk-grid-match uk-child-width-expand@l uk-text-center" uk-grid>
  <!-- Card 1 -->
  <div class="uk-card">
    <div class="uk-card-media-top">
      <img src="../../../../assets/Illustrations/Landing/Pricing/Personal.svg" alt="Personal">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Personal Plan</h3> -- For the enthusiat --
      <ul class="uk-list uk-list-striped">
        <li>5 individual projects</li>
        <li>2 shared projects with maximum 5 collaboratos each</li>
        <li>2 archived projects for historycal refference</li>
        <li>Github integration</li>
      </ul>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="uk-card">
    <div class="uk-card-media-top">
      <img src="../../../../assets/Illustrations/Landing/Pricing/Premium.svg" alt="Premium">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Premium Plan</h3> -- For the entrepreneur --
      <ul class="uk-list uk-list-striped">
        <li>Unlimited individual projects</li>
        <li>100 shared projects with up to 25 collaboratos each</li>
        <li>100 archived projects for historycal refference</li>
        <li>Github, Gitlab and CodeBerg integrations</li>
        <li>Access to our A.I. module</li>
        <li>Premium support 24/7</li>
      </ul>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="uk-card">
    <div class="uk-card-media-top">
      <img src="../../../../assets/Illustrations/Landing/Pricing/Enterprise.svg" alt="Enterprise">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">Enterprise Plan *</h3> -- For the giants --
      <ul class="uk-list uk-list-striped">
        <li>10 individual projects for each employee</li>
        <li>Unlimited shared projects with up to 100 collaboratos each</li>
        <li>Unlimited archived projects for historycal refference</li>
        <li>Github, Gitlab and CodeBerg integrations</li>
        <li>Access to our A.I. module</li>
        <li>Access to our Machine Learning module</li>
        <li>Premium support 24/7</li>
      </ul>

      <div>
        <p>* For non-admin employees, beside the 10 individual projects, all other features are the ones that apply to
          Personal Plans</p>
      </div>
    </div>
  </div>
</div>
