/* App theme */
/* Color palette */
@soft-peach:  #F0F3EF;
@green-smoke: #A6A274;
@raw-sienna:  #CA6C56;
@ship-cove:   #7F93C1;
@jacarta:     #342071;

/* Transparent color palette */
@soft-peach-transparent:  rgba(240, 243, 239, 0.7);
@green-smoke-transparent: rgba(166, 162, 116, 0.7);
@raw-sienna-transparent:  rgba(202, 107, 86, 0.7);
@ship-cove-transparent:   rgba(127, 147, 193, 0.7);
@jacarta-transparent:     rgba(52, 32, 113, 0.7);

/* Animated banner */
/*********************/
#net-background {
    height: 60vh;
}

#net-background h1 {
    background-color: @soft-peach;
    color: @raw-sienna;
    width: 100%;
    margin-bottom: 0px;
    padding: 2rem;
}

#net-background h1 strong {
    color: @raw-sienna;
}
/********************/
/* END animated banner */

/* Cards style */
.uk-card {
    background-color: white;
    max-width: 40%;
    height: fit-content;
    box-shadow: 0px 3px 5px gray;
}

.uk-card-media-top {
    height: 35%;
    box-shadow: 0px 0px 5px gray;
}

.uk-card-media-top img {
    height: 20vh;
}

em {
    color: @ship-cove;
}

strong {
    color: @raw-sienna;
}

@media only screen and (max-width: 960px) {
    .uk-card {
        max-width: 100%;
    }
}