<div class="uk-flex uk-flex-bottom" id="net-background">
  <h1 class="uk-text-center">Discover the exciting features of <strong>Instrumentality</strong></h1>
</div>

<div class="uk-width-1-1">

  <div class="uk-flex uk-flex-row uk-flex-left">
    <div class="uk-card">
      <div class="uk-card-media-top uk-text-center">
        <img src="../../../../assets/Illustrations/Landing/Features/ArtificialIntelligence.svg" alt="A.I.">
      </div>

      <div class="uk-card-header">
        <h3 class="uk-card-title uk-text-center">Artificial Intelligence</h3>
      </div>

      <div class="uk-card-body">
        <p>
          We harness the power of the A.I. technology and use it to organize your projects in mere seconds.
          The <em>premium</em> and <em>enterprise</em> plans give you access to this module that helps you not loose any
          time on organizing and labeling tasks. Based on the specifications you write, our algorithm will organize all
          of your backlog into appropriate sections and will label each task with the labels you define.
        </p>
      </div>
    </div>
  </div>

  <div class="uk-flex uk-flex-row uk-flex-right">
    <div class="uk-card uk-card-small">
      <div class="uk-card-media-top uk-text-center">
        <img src="../../../../assets/Illustrations/Landing/Features/MachineLearning.svg" alt="M.L.">
      </div>

      <div class="uk-card-header">
        <h3 class="uk-card-title uk-text-center">Machine Learning</h3>
      </div>

      <div class="uk-card-body">
        <p>
          For our <em>enterprise customers</em>, <strong>Instrumentality</strong> also offers a M.L. module that learns
          from hystorical data
          as well as on-the-fly how the employees perform and what is their area of expertise. Based on the project data
          and the team
          that is in charge for completing it, this module can suggest a schedule as well as automatically assign tasks
          to the people
          in the team. As a team leader, you can have a full plan of how you can finish a project in just a few seonds.
        </p>
      </div>
    </div>
  </div>

  <div class="uk-flex uk-flex-row uk-flex-left">
    <div class="uk-card uk-card-small">
      <div class="uk-card-media-top uk-text-center">
        <img src="../../../../assets/Illustrations/Landing/Features/Analytics.svg" alt="Analytics">
      </div>

      <div class="uk-card-header">
        <h3 class="uk-card-title uk-text-center">Analytics</h3>
      </div>

      <div class="uk-card-body">
        <p>
          Data is important weather you are a great person working on a side project or a successfull company, data is
          important. It is hard though to compile all the information into valuable metrics that show such things as
          performance
          or trends and predictions without any specialized software. <strong>Instrumentality</strong> can generate all
          of those
          through our analytics module developed in-house.
        </p>
      </div>
    </div>
  </div>

  <div class="uk-flex uk-flex-row uk-flex-right">
    <div class="uk-card uk-card-small">
      <div class="uk-card-media-top uk-text-center">
        <img src="../../../../assets/Illustrations/Landing/Features/ProjectDevelopment.svg" alt="Projects">
      </div>

      <div class="uk-card-header">
        <h3 class="uk-card-title uk-text-center">Project development</h3>
      </div>

      <div class="uk-card-body">
        <p>
          The essence of our product is to help you track and deliver projects. Therefore we provide you with all the tools that will
          help you do just that. From complex kanban boards to simple task lists we cover everything related to project coordination.
        </p>
      </div>
    </div>
  </div>

</div>
