<div class="uk-grid-collapse uk-grid-match uk-child-width-expand@l uk-text-center" uk-grid>
  <div>
    <!-- Card 1 -->
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="../../../../assets/Illustrations/Landing/CodeTogether.svg" alt="Coding Together is always better">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Coding Together</h3>
        <p>
          We, the team behind <strong>Instrumentality</strong> believe that we are better together than on our own.
          We believe in teamwork and helping eachother become better versions of ourselves. As developers it is of great
          importance
          to be able to work <em>together</em> with other people. <strong>Instrumentality</strong> is a tool that can
          help you along the way.
        </p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="../../../../assets/Illustrations/Landing/DevProductivity.svg" alt="Always productive, always on top">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">A secret weapon of productivity</h3>
        <p>
          Being more productive is something that a lot of people want to do, but their approach to this matter lacks
          some key aspects we highlight in <strong>Instrumentality</strong>.
        </p>
        <ul>
            <li><em>Less is more:</em> unlike other tools, we focus on providing the essentials, but we make sure we cut no corners</li>
            <li><em>Work has to be fun:</em> We don't see work as boring. We try to make it as enjoyable as possible for you too</li>
            <li>
              <em>Delegating is important:</em> We think that every task demands a certain skillset. If you have lots to do and a task requires knowledge you don't have you can trade
              it with another task (or parts of it) of one of your workmates 
            </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="middle-logo" class="uk-visible@l uk-inline uk-margin-small-left">
    <img src="../../../../assets/Branding/Instrumentality-Logo-SVG.svg" alt="" >
    <div class="uk-overlay uk-overlay-primary uk-position-top" uk-parallax="y: 85vh; background-color: rgba(52, 32, 113, 0.7), rgba(202, 107, 86, 0.7)">
      <h3>Instrumentality</h3>
    </div>
  </div>

  <div class="uk-margin-small-left">
    <!-- Card 3 -->
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="../../../../assets/Illustrations/Landing/TeamLeaderData.svg" alt="Important data for good decisions">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">All the important data at your fingertips</h3>
        <p>
          While <strong>Instrumentality</strong> is a tool made for developers, a good team leader doesn't necessarily have to be a developer. A great team leader is first
          and foremost a great <em>manager</em> and a great manager needs data to work with and the tools to analyse the data. We provide you with all the data about your team
          and the projects they are working on as well as with a coprehensive set of tools for you to use and mold all that data into <em>valuable</em> assets.
        </p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img src="../../../../assets/Illustrations/Landing/SourceCode.svg" alt="An open world for everyone">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Why it matters that we are open</h3>
        <p>
          Since our product is <em>free software</em> that means you are able to modify it and make it into your own best tool for all productivity things. This also means
          that you can run your own instance of <strong>Instrumentality</strong> on your company's servers for more in-depth maintanance. Also we hope to build a relationship
          of trust with our clients and that means being open and transparent about what we offer and what our product does.
        </p>
      </div>
    </div>
  </div>
</div>
