/* App theme */
/* Color palette */
@soft-peach:  #F0F3EF;
@green-smoke: #A6A274;
@raw-sienna:  #CA6C56;
@ship-cove:   #7F93C1;
@jacarta:     #342071;

/* Transparent color palette */
@soft-peach-transparent:  rgba(240, 243, 239, 0.7);
@green-smoke-transparent: rgba(166, 162, 116, 0.7);
@raw-sienna-transparent:  rgba(202, 107, 86, 0.7);
@ship-cove-transparent:   rgba(127, 147, 193, 0.7);
@jacarta-transparent:     rgba(52, 32, 113, 0.7);

/* Middle logo component style */
/***********************************/
#middle-logo img {
    height: 100vh;
    align-self: center;
}

.uk-overlay {
    box-shadow: 0px 3px 10px gray;
    backdrop-filter: blur(5px);
}
/***********************************/
/* END middle logo component style */


/* Card style */
/***********************************/
.uk-card {
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 5px;
    background-color: white;
}

.uk-card-media-top {
    box-shadow: 0px 3px 10px gray;
}

.uk-card-media-top img {
    height: 30vh;
}

.uk-card-title {
    color: @jacarta;
}

strong {
    color: @raw-sienna;
}

em {
    color: @ship-cove;
}
/***********************************/
/* END card style */

/* Removing margin of last grid column on medium devices */
@media only screen and (max-width: 960px) {
    .uk-grid-collapse div {
        margin-left: 0px!important;
    }
}