/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/uikit/src/less/uikit.less");

/* App theme */
/* Variables */
@soft-peach:  #F0F3EF;
@green-smoke: #A6A274;
@raw-sienna:  #CA6C56;
@ship-cove:   #7F93C1;
@jacarta:     #342071;

/* Fluid typography */
body, .uk-navbar-nav li a, .uk-button, h1, h3, button.a {
    font-size: calc(15px + (24 - 15) * (100vw - 320px) / (4800 - 320));
}